{{ form_start(form) }}

<div class="input-container">
	{{ form_label(form.type) }}
	{{ form_widget(form.type) }}
</div>

<div class="input-container">
	{{ form_label(form.name) }}
	{{ form_widget(form.name) }}
</div>

<div class="input-container">
	{{ form_label(form.year) }}
	{{ form_widget(form.year) }}
</div>

<div class="input-container">
	{{ form_label(form.start_date) }}
	{{ form_widget(form.start_date) }}
</div>

<div class="input-container">
	{{ form_label(form.end_date) }}
	{{ form_widget(form.end_date) }}
</div>

<div class="input-container">
	{{ form_label(form.banner) }}
	{{ form_widget(form.banner) }}
</div>

<div class="btns right">
	<button class="btn">
		<i class="fa-solid fa-floppy-disk"></i>
		<span>{{ button_label|default('Sauvegarder') }}</span>
	</button>
</div>
{{ form_end(form) }}
