{% extends 'base_member.html.twig' %}

{% block title %}Changement de mot de passe{% endblock %}

{% block body %}
	<h1>Changement de mot de passe</h1>

	<div class="btns-container">
		<div class="btns">
			<a class="btn" href="{{ path('app_member_profile_edit') }}">
				<i class="fa-solid fa-arrow-left"></i>
				<span>Retour à l'édition du profil</span>
			</a>
		</div>
	</div>

	<ul class="errors">
		{% for error in form_errors %}
			<li class="error"><i class="fa-solid fa-triangle-exclamation"></i> {{ error.message }}</li>
		{% endfor %}
		{% for error in errors %}
			<li class="error"><i class="fa-solid fa-triangle-exclamation"></i> {{ error }}</li>
		{% endfor %}
	</ul>

	<div class="col-50">
		{{ form_start(form) }}

		<div class="input-container">
			{{ form_label(form.password) }}
			{{ form_widget(form.password) }}
		</div>

		<div class="input-container">
			{{ form_label(form.newPassword) }}
			{{ form_widget(form.newPassword) }}
		</div>

		<div class="input-container">
			{{ form_label(form.confirmNewPassword) }}
			{{ form_widget(form.confirmNewPassword) }}
		</div>

		{{ form_widget(form._token) }}

		<div class="btns right">
			<button type="submit" class="btn">
				<i class="fa-solid fa-floppy-disk"></i>
				<span>Mettre à jour le mot de passe</span>
			</button>
		</div>
		{{ form_end(form) }}
	</div>
{% endblock %}
