{% extends 'base_member.html.twig' %}

{% block title %}Espace membre{% endblock %}

{% block body %}
	<div class="year">
		{% if current_year is not null %}
			<div class="banner-container">
				<img class="year banner" src="/uploads/period_banner/{{ current_year.banner }}"
				     alt="Bannière de l'année {{ current_year.year }}">
			</div>
		{% endif %}

		<div class="flex sb">
			<div class="container left">

				<div class="last-own-challenges window">
					<h3>Vos 3 derniers défis</h3>
					<ul>
						{% for submission in last_own_submissions %}
							<li>
								<a href="{{ path('app_member_single_challenge', {'id': submission.challenge.id}) }}">
									{{ submission.challenge.name }}
								</a>
								sur
								<a href="{{ path('app_member_single_game', {'id': submission.challenge.game.id}) }}">
									{{ submission.challenge.game.name }}
								</a>
							</li>
						{% endfor %}
					</ul>
				</div>

				<div class="last-challenges window">
					<h3>Les 5 derniers défis validés</h3>
					<ul>
						{% for submission in last_submissions %}
							<li>
								<a href="{{ path('app_member_single_challenge', {'id': submission.challenge.id}) }}">
									{{ submission.challenge.name }}
								</a>
								sur
								<a href="{{ path('app_member_single_game', {'id': submission.challenge.game.id}) }}">
									{{ submission.challenge.game.name }}
								</a>
								par
								<a href="{{ path('app_member_user', {'id': submission.user.id}) }}">
									{{ submission.user.username }}
								</a>
							</li>
						{% endfor %}
					</ul>
				</div>

				<a class="btn" href="{{ path('app_member_valid_submissions', {'id': current_year.id}) }}">
					Voir tous les défis validés
				</a>
			</div>

			<div class="container right">
				<div class="current-year-ranking window">
					<h3>Classement actuel</h3>
					<ul>
						{% set position = 1 %}
						{% for row in current_year.rankings|sort((a, b) => b.points <=> a.points) %}
							<li>
								<div class="position">{{ position }}</div>
								<div class="player">
									<a href="{{ path('app_member_user', {'id': row.player.id}) }}">{{ row.player.username }}</a>
								</div>
								<div class="points">{{ row.points }} pts</div>
							</li>
							{% set position = position + 1 %}
						{% endfor %}
					</ul>
				</div>
			</div>

		</div>

	</div>

{% endblock %}
