{% extends 'base_member.html.twig' %}

{% block title %}Défis validés - {{ period.name }}{% endblock %}

{% block body %}
	<h1>Défis validés - {{ period.name }}</h1>

	<ul class="valid-submissions">
		{% for submission in submissions %}
			<li class="valid-submission">
				<div class="medal-container">
					<img src="/assets/img/{{ submission.challenge.difficulty.icon }}"
					     alt="Médaille de {{ submission.challenge.difficulty.name }}"
					     title="Defi {{ submission.challenge.difficulty.name }}">
				</div>
				<a class="challenge" href="{{ path('app_member_single_challenge', {'id': submission.challenge.id}) }}">
					{{ submission.challenge.name }}
				</a>
				sur
				<a class="game" href="{{ path('app_member_single_game', {'id': submission.challenge.game.id}) }}">
					{{ submission.challenge.game.name }}
				</a>
				par
				<a class="player" href="{{ path('app_member_user', {'id': submission.user.id}) }}">
					{% if submission.user.avatar %}
						<div class="avatar-container">
							<img src="/uploads/avatar/{{ submission.user.avatar }}" alt="Avatar de {{ submission.user.username }}">
						</div>
					{% endif %}
					{{ submission.user.username }}
				</a>
			</li>
		{% endfor %}
	</ul>

{% endblock %}
