{% extends 'base_admin.html.twig' %}

{% block title %}Liste des défis soumis à validation{% endblock %}

{% block body %}
	<h1>Liste des défis soumis à validation</h1>

	<div class="flex sb">
		<form method="get">
			<div class="input-container search">
				<label for="challenge-search"></label>
				<input id="challenge-search" type="search" name="search" placeholder="Recherche" value="{{ search }}">
				<input type="hidden" name="valid" value="{{ valid }}">
				<button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
			</div>
		</form>

		<div class="btn-container">
			<div class="btns">
				<a class="btn" href="{{ path('app_admin_submission_index') }}">
					<i class="fa-solid fa-x"></i>
					<span>Défis non validés</span>
				</a>
				<a class="btn" href="{{ path('app_admin_submission_index', {'valid': 'true'}) }}">
					<i class="fa-solid fa-check"></i>
					<span>Défis déjà validés</span>
				</a>
			</div>
		</div>
	</div>

	<div class="table submissions">

		<div class="head">
			<div class="col col-20">Défi</div>
			<div class="col col-20">Jeu</div>
			<div class="col col-20">Joueur</div>
			<div class="col col-20">Période</div>
			<div class="col col-20">Date</div>
		</div>

		{% for submission in submissions %}
			<div class="row">
				<div class="col col-20">
					<a href="{{ path('app_admin_submission', {'id': submission.id}) }}">{{ submission.challenge.name }}</a>
				</div>
				<div class="col col-20">{{ submission.challenge.game.name }}</div>
				<div class="col col-20">{{ submission.user.username }}</div>
				<div class="col col-20">{{ submission.period.name }}</div>
				<div class="col col-20">
					{{ submission.submissionDate|format_datetime(pattern="dd/MM/yyyy à HH:mm", timezone='Europe/Paris') }}
				</div>
			</div>
		{% endfor %}

	</div>

	{% set path = 'app_admin_submission_index' %}
	{{ include('include/submission_pagination.html.twig') }}

{% endblock %}
