{% extends 'base_admin.html.twig' %}

{% block title %}Défi soumis à validation{% endblock %}

{% block body %}
	<div class="challenge-title-container">
		<div class="subcontainer left">
			<div class="img-container">
				<img class="game-image" src="/uploads/game/{{ submission.challenge.game.image }}"
				     alt="Image de {{ submission.challenge.game.name }}"
				     title="{{ submission.challenge.game.name }}">
			</div>
			<div class="medal">
				<img class="medal" src="/assets/img/{{ submission.challenge.difficulty.icon }}"
				     alt="Médaille de {{ submission.challenge.difficulty.name }}"
				     title="Défi {{ submission.challenge.difficulty.name }}">
			</div>
			<h1>{{ submission.challenge.name }}</h1>
		</div>
		<div class="subcontainer right">
			{% if submission.challenge.numberOfPlayers is same as 1 %}
				<i class="fa-solid fa-user"></i> 1 joueur
			{% else %}
				<i class="fa-solid fa-users"></i> {{ submission.challenge.numberOfPlayers }} joueurs
			{% endif %}
		</div>
	</div>

	<div class="btns-container">
		<div class="left"></div>
		<div class="right">
			<div class="challenge-periods">
				{% for period in submission.challenge.periods %}
					<div class="period"
					     title="du {{ period.startDate|format_date('long', locale='fr') }} au {{ period.endDate|format_date('long', locale='fr') }}">
						<i class="fa-solid fa-calendar-days"></i>
						<span>{{ period }}</span>
					</div>
				{% endfor %}
			</div>
		</div>
	</div>

	<p class="challenge-description">
		{{ submission.challenge.description|nl2br }}
	</p>

	<div class="col-50">
		<h2>Messages</h2>
		<section class="messages">
			{% for message in submission.submissionMessages %}
				{{ include('include/message.html.twig') }}
			{% endfor %}
		</section>

		<ul class="errors">
			{% for error in form_errors %}
				<li class="error"><i class="fa-solid fa-triangle-exclamation"></i> {{ error.message }}</li>
			{% endfor %}
		</ul>

		{{ form_start(form) }}

		<div class="input-container">
			{{ form_label(form.message) }}
			{{ form_widget(form.message) }}
		</div>

		<div class="input-container">
			{{ form_label(form.images) }}
			{{ form_widget(form.images) }}
		</div>

		<div class="btns right">
			<button class="btn" type="submit">
				<i class="fa-solid fa-reply"></i>
				<span>Répondre</span>
			</button>
		</div>

		{{ form_end(form) }}

		<div class="btns right validate">
			<form method="post" action="{{ path('app_admin_submission_refuse', {'id': submission.id}) }}"
			      onsubmit="return confirm('Êtes-vous sûr(e) de vouloir refuser ce défi ? ' +
			       'Cela supprimera tous les messages associés.');">
				<input type="hidden" name="_token" value="{{ csrf_token('refuse' ~ submission.id) }}">
				<button class="btn delete" type="submit">
					<i class="fa-solid fa-trash"></i>
					<span>Refuser le défi</span>
				</button>
			</form>

			<form method="post" action="{{ path('app_admin_submission_validate', {'id': submission.id}) }}"
			      onsubmit="return confirm('Êtes-vous sûr(e) de vouloir valider ce défi ?');">
				<input type="hidden" name="_token" value="{{ csrf_token('validate' ~ submission.id) }}">
				<button class="btn dark-green" type="submit">
					<i class="fa-solid fa-check"></i>
					<span>Valider le défi</span>
				</button>
			</form>
		</div>

	</div>

{% endblock %}
