{% extends 'base_admin.html.twig' %}

{% block title %}Edition de jeu{% endblock %}

{% block body %}
	<h1>Edition de jeu</h1>

	<div class="col-50">
		<div class="btns-container">
			<div class="back">
				<a class="btn" href="{{ path('app_game_index') }}">Retour à la liste des jeux</a>
			</div>
			<div class="btns right">
				{{ include('admin_game/_delete_form.html.twig') }}
			</div>
		</div>

		{{ form_start(form) }}

		<div class="input-container">
			{{ form_label(form.name) }}
			{{ form_widget(form.name) }}
		</div>

		<div class="input-container">
			{{ form_label(form.image) }}
			{{ form_widget(form.image) }}
		</div>

		<div class="input-container">
			{{ form_label(form.link) }}
			{{ form_widget(form.link) }}
		</div>

		{{ form_widget(form._token) }}

		<div class="btns right">
			<button type="submit">Mettre à jour le jeu</button>
		</div>

		{{ form_end(form, {render_rest: false}) }}
	</div>
{% endblock %}
