{% extends 'base_admin.html.twig' %}

{% block title %}Game index{% endblock %}

{% block body %}
	<h1>Liste des jeux</h1>

	<div class="btns">
		<a class="btn" href="{{ path('app_game_new') }}">Ajouter un jeu</a>
		<a class="btn" href="{{ path('app_game_steam_new') }}">Ajouter un jeu Steam</a>
	</div>

	<div class="table games">

		<div class="head">
			<div class="col col-75">Jeu</div>
			<div class="col col-25">Actions</div>
		</div>

		{% for game in games %}
			<div class="row">
				<div class="col col-75">
					<a class="game-info" href="{{ path('app_game_show', {'id': game.id}) }}">
						<img class="game-image" src="/uploads/game/{{ game.image }}" alt="Image {{ game.name }}">
						<span class="game-name">{{ game.name }}</span>
					</a>
				</div>
				<div class="col col-25 btns">
					<a class="btn" href="{{ path('app_game_edit', {'id': game.id}) }}">Editer</a>
					{{ include('admin_game/_delete_form.html.twig') }}
				</div>
			</div>
		{% else %}
			<div class="row">
				Aucun jeu trouvé
			</div>
		{% endfor %}

	</div>

{% endblock %}
