{% extends 'base_admin.html.twig' %}

{% block title %}Liste des jeux{% endblock %}

{% block javascripts %}
	<script type="module" src="/assets/js/admin_games.js"></script>
{% endblock %}

{% block body %}
	<h1>Liste des jeux</h1>

	<div class="btns">
		<a class="btn" href="{{ path('app_game_new') }}">
			<i class="fa-solid fa-plus"></i>
			<span>Ajouter un jeu</span>
		</a>
		<a class="btn" href="{{ path('app_game_steam_new') }}">
			<i class="fa-brands fa-steam"></i>
			<span>Ajouter un jeu Steam</span>
		</a>
	</div>

	<div class="table games">

		<div class="head">
			<div class="col col-65">Jeu</div>
			<div class="col col-25">Actions</div>
			<div class="col col-10">Jeu du moment</div>
		</div>

		{% for game in games %}
			<div class="row">
				<div class="col col-65">
					<a class="game-info" href="{{ path('app_game_show', {'id': game.id}) }}">
						<div class="game-image">
							<img src="/uploads/game/{{ game.image }}" alt="Image de {{ game.name }}">
						</div>
						<span class="game-name">{{ game.name }}</span>
					</a>
				</div>
				<div class="col col-25 btns">
					<a class="btn" href="{{ path('app_game_edit', {'id': game.id}) }}">
						<i class="fa-solid fa-pen"></i>
						<span>Editer</span>
					</a>
					{{ include('admin_game/_delete_form.html.twig') }}
				</div>
				<div class="col col-10 flex center">
					{% set id = game.id %}
					{% if game.current %}
						{% set active = 'active' %}
					{% else %}
						{% set active = '' %}
					{% endif %}
					{{ include('include/toggle.html.twig') }}
				</div>
			</div>
		{% else %}
			<div class="row">
				Aucun jeu trouvé
			</div>
		{% endfor %}

	</div>

{% endblock %}
