{% extends 'base_admin.html.twig' %}

{% block title %}Ajouter un jeu{% endblock %}

{% block body %}

	<h1>Ajouter un jeu</h1>

	<div class="col-50">
		<div class="btns-container">
			<div class="back">
				<a class="btn" href="{{ path('app_game_index') }}">
					<i class="fa-solid fa-arrow-left"></i>
					<span>Retour à la liste des jeux</span>
				</a>
			</div>
		</div>

		{% for message in app.flashes('error') %}
			<div class="error">
				{{ message }}
			</div>
		{% endfor %}

		{{ form_start(form) }}

		<div class="input-container">
			{{ form_label(form.name) }}
			{{ form_widget(form.name) }}
		</div>

		<div class="input-container">
			{{ form_label(form.image) }}
			{{ form_widget(form.image) }}
		</div>

		<div class="input-container">
			{{ form_label(form.link) }}
			{{ form_widget(form.link) }}
		</div>

		{{ form_widget(form._token) }}

		<div class="btns right">
			<button type="submit">
				<i class="fa-solid fa-floppy-disk"></i>
				<span>Ajouter le jeu</span>
			</button>
		</div>

		{{ form_end(form, {render_rest: false}) }}
	</div>
{% endblock %}
