{% extends 'base_admin.html.twig' %}

{% block title %}{{ game.name }}{% endblock %}

{% block body %}
	<h1>{{ game.name }}</h1>

	<div class="btns-container">
		<div class="back">
			<a class="btn" href="{{ path('app_game_index') }}">
				<i class="fa-solid fa-arrow-left"></i>
				<span>Retour à la liste des jeux</span>
			</a>
		</div>
		<div class="btns right">
			<a class="btn" href="{{ path('app_game_edit', {'id': game.id}) }}">
				<i class="fa-solid fa-pen"></i>
				<span>Editer</span>
			</a>
			{{ include('admin_game/_delete_form.html.twig') }}
		</div>
	</div>



	<div class="game-image">
		<img src="/uploads/game/{{ game.image }}" alt="Image de {{ game.name }}">
	</div>

	<h3>ID Steam</h3>
	<div class="game-steam-id">{{ game.steamId }}</div>

	<h3>Lien</h3>
	<div class="game-link">
		{% if game.link %}
			<a href="{{ game.link }}">{{ game.link }}</a>
		{% else %}
			<span>Non renseigné</span>
		{% endif %}
	</div>

	<h3>Jeu du moment</h3>
	<div class="game-current">
		{% if game.current %}
			Oui
		{% else %}
			Non
		{% endif %}
	</div>

{% endblock %}
