{% extends 'base_admin.html.twig' %}

{% block title %}Ajouter un jeu Steam{% endblock %}

{% block javascripts %}
	<script type="module" src="/assets/js/steam_new.js"></script>
{% endblock %}

{% block body %}

	<h1>Ajouter un jeu Steam</h1>

	<div class="col-50">
		<div class="btns-container">
			<div class="back">
				<a class="btn" href="{{ path('app_game_index') }}">
					<i class="fa-solid fa-arrow-left"></i>
					<span>Retour à la liste des jeux</span>
				</a>
			</div>
		</div>

		<ul class="errors">
			{% for message in app.flashes('error') %}
				<li class="error"><i class="fa-solid fa-triangle-exclamation"></i> {{ message }}</li>
			{% endfor %}
		</ul>

		{{ form_start(form) }}

		<div class="input-container">
			{{ form_label(form.name) }}
			{{ form_widget(form.name) }}
		</div>

		<div class="input-container">
			{{ form_label(form.app_id) }}
			{{ form_widget(form.app_id) }}
		</div>

		<div class="input-container">
			<div class="checkbox-container">
				{{ form_widget(form.multi) }}
				{{ form_label(form.multi) }}
			</div>
		</div>

		<div class="input-container">
			<div class="checkbox-container">
				{{ form_widget(form.played) }}
				{{ form_label(form.played) }}
			</div>
		</div>

		<div class="btns right">
			<button type="submit">
				<i class="fa-solid fa-floppy-disk"></i>
				<span>Ajouter le jeu Steam</span>
			</button>
		</div>

		{{ form_end(form) }}
	</div>
{% endblock %}
