{% extends 'base_member.html.twig' %}

{% block title %}Liste des jeux{% endblock %}

{% block body %}
	<h1>Liste des jeux</h1>

	<section class="game-list">

		{% for game in games %}
			{% set event = false %}
			{% for challenge in game.challenges %}
				{% for period in challenge.periods %}
					{% if period.startDate <= date('now') and period.endDate >= date('now') and period.type is same as 'event' %}
						{% set event = period.name %}
					{% endif %}
				{% endfor %}
			{% endfor %}

			<a class="game-card" href="{{ path('app_member_single_game', {'id': game.id}) }}">
				<div class="img-container">
					<img src="/uploads/game/{{ game.image }}" alt="Image de {{ game.name }}">
				</div>
				<div class="info-container">
					<div class="medals-container">
						<div class="medal-container">
							<div class="medal"></div>
							<div class="medal-number">{{ game.challengesCounts['Bronze'] }}</div>
						</div>
						<div class="medal-container">
							<div class="medal"></div>
							<div class="medal-number">{{ game.challengesCounts['Argent'] }}</div>
						</div>
						<div class="medal-container">
							<div class="medal"></div>
							<div class="medal-number">{{ game.challengesCounts['Or'] }}</div>
						</div>
						<div class="medal-container">
							<div class="medal"></div>
							<div class="medal-number">{{ game.challengesCounts['Platine'] }}</div>
						</div>
					</div>
					<div><i class="fa-solid fa-arrow-right"></i></div>
				</div>
				{% if event %}
					<div class="event">{{ event }}</div>
				{% endif %}
				<div class="valid-submissions-count">
					{{ game.validSubmissionsCount }} / {{ game.challengesCounts|reduce((carry, v) => carry + v) }}
				</div>
			</a>
		{% endfor %}

	</section>

{% endblock %}
