{% extends 'base_member.html.twig' %}

{% block title %}{{ game.name }}{% endblock %}

{% block body %}
	<div class="game-title-container">
		<div class="img-container">
			<img src="/uploads/game/{{ game.image }}" alt="Image de {{ game.name }}">
		</div>
		<h1>{{ game.name }}</h1>
	</div>

	<div class="btns-container">
		<div class="btns">
			<a class="btn" href="{{ path('app_member_games') }}">
				<i class="fa-solid fa-arrow-left"></i>
				<span>Retour à la liste des jeux</span>
			</a>
		</div>
	</div>

	<section class="challenges-list">

		{% for challenge in game.challenges|sort((a, b) => a.difficulty <=> b.difficulty) %}
			<article class="challenge-card">
				<div class="title-container">
					<div class="medal">
						<img src="/assets/img/{{ challenge.difficulty.icon }}"
						     alt="Médaille de {{ challenge.difficulty.name }}" title="Défi {{ challenge.difficulty.name }}">
					</div>
					<a href="{{ path('app_member_single_challenge', {'id': challenge.id}) }}"><h3>{{ challenge.name }}</h3></a>
				</div>
				<div class="players">
					{% if challenge.numberOfPlayers is same as 1 %}
						<i class="fa-solid fa-user"></i> 1 joueur
					{% else %}
						<i class="fa-solid fa-users"></i> {{ challenge.numberOfPlayers }} joueurs
					{% endif %}
				</div>
				<p class="description">{{ challenge.description|nl2br }}</p>
				{% set current = '' %}
				{% for period in challenge.periods %}
					{% if period.startDate <= date('now') and period.endDate >= date('now') and period.type is same as 'event' %}
						{% set current = 'current' %}
					{% endif %}
				{% endfor %}
				<div class="periods {{ current }}">
					<span>
						<i class="fa-solid fa-calendar-days"></i>
						{{ challenge.periods|sort((a, b) => a.year <=> b.year)|join(', ') }}
					</span>
					<a href="{{ path('app_member_single_challenge', {'id': challenge.id}) }}">
						<i class="fa-solid fa-arrow-right"></i>
					</a>
				</div>
			</article>
		{% endfor %}

	</section>

{% endblock %}
