{% extends 'base_member.html.twig' %}

{% block title %}{{ game.name }}{% endblock %}

{% block body %}
	<div class="game-title-container">
		<div class="img-container">
			<img src="/uploads/game/{{ game.image }}" alt="Image de {{ game.name }}">
		</div>
		<h1>{{ game.name }}</h1>
	</div>

	<div class="btns-container">
		<div class="btns">
			<a class="btn" href="{{ path('app_member_games') }}">
				<i class="fa-solid fa-arrow-left"></i>
				<span>Retour à la liste des jeux</span>
			</a>
		</div>
	</div>

	{% for period in periods %}
		{% if period.incompleteChallenges or period.completedChallenges %}
			<div class="period-container">
				<h3>{{ period.name }}</h3>
				{% if period.incompleteChallenges %}
					<h4>Défis non complétés</h4>
					<section class="challenges-list">
						{% for challenge in period.incompleteChallenges %}
							{% include 'member/game/_challenge.html.twig' %}
						{% endfor %}
					</section>
				{% endif %}
				{% if period.completedChallenges %}
					<h4>Défis complétés</h4>
					<section class="challenges-list completed">
						{% for challenge in period.completedChallenges %}
							{% include 'member/game/_challenge.html.twig' %}
						{% endfor %}
					</section>
				{% endif %}
			</div>
		{% endif %}
	{% endfor %}

{% endblock %}
