<div class="profile">
	<header>
		<div class="avatar-container">
			{% if user.avatar %}
				<img class="avatar" src="/uploads/avatar/{{ user.avatar }}" alt="Avatar de {{ user.username }}">
			{% else %}
				<img class="avatar" src="/assets/img/EV-200_nbg.png" alt="Logo d'Ethil Van">
			{% endif %}
		</div>
		<div class="main-info-container">
			<h1>{{ user.username }}</h1>
			<div class="role">
				{% if 'ROLE_SUPER_ADMIN' in user.roles or 'ROLE_ADMIN' in user.roles %}
					Admin
				{% elseif 'ROLE_EV' in user.roles %}
					Ethil-Vannien
				{% else %}
					Nouvel utilisateur
				{% endif %}
			</div>
			<div class="inscription-date">Inscrit depuis le {{ user.inscriptionDate|format_date('long', locale='fr') }}</div>

			{% if app.user.username is same as user.username %}
				<div class="btns">
					<a class="btn" href="{{ path('app_member_profile_edit') }}">
						<i class="fa-solid fa-pen"></i>
						<span>Editer mon profil</span>
					</a>
				</div>
			{% endif %}
		</div>
	</header>

	<section class="favorite-games">
		<h2>Mes jeux préférés</h2>
		<p class="favorite-game-list">{{ user.favoriteGames|nl2br }}</p>
	</section>

	<section class="medals-and-trophies">
		<article class="medals-container">
			<div class="medal-container">
				<div class="medal">
					<img src="/assets/img/bronze-medal.png" alt="Médaille de bronze">
				</div>
				<div class="medal-number">{{ user.challengesCounts['Bronze'] }}</div>
			</div>
			<div class="medal-container">
				<div class="medal">
					<img src="/assets/img/silver-medal.png" alt="Médaille d'argent">
				</div>
				<div class="medal-number">{{ user.challengesCounts['Argent'] }}</div>
			</div>
			<div class="medal-container">
				<div class="medal">
					<img src="/assets/img/gold-medal.png" alt="Médaille d'or">
				</div>
				<div class="medal-number">{{ user.challengesCounts['Or'] }}</div>
			</div>
			<div class="medal-container">
				<div class="medal">
					<img src="/assets/img/platinum-medal.png" alt="Médaille de platine">
				</div>
				<div class="medal-number">{{ user.challengesCounts['Platine'] }}</div>
			</div>
		</article>
		<article class="last-medals">
			<ul>
				{% for submission in last_submissions %}
					<li>
						<a href="{{ path('app_member_single_challenge', {'id': submission.challenge.id}) }}">
							{{ submission.challenge.name }}
						</a>
						<span> - {{ submission.challenge.game.name }}</span>
					</li>
				{% endfor %}
			</ul>
		</article>
		<article class="cups-container"></article>
		<article class="last-cups"></article>
		<article class="trophies-container"></article>
		<article class="last-trophies"></article>
	</section>
</div>
