<div class="profile">
	<header>
		<div class="avatar-container">
			{% if user.avatar %}
				<img class="avatar" src="/uploads/avatar/{{ user.avatar }}" alt="Avatar de {{ user.username }}">
			{% else %}
				<img class="avatar" src="/assets/img/EV-200_nbg.png" alt="Logo d'Ethil Van">
			{% endif %}
		</div>
		<div class="main-info-container">
			<h1>{{ user.username }}</h1>
			<div class="role">
				{% if 'ROLE_SUPER_ADMIN' in user.roles or 'ROLE_ADMIN' in user.roles %}
					Admin
				{% elseif 'ROLE_EV' in user.roles %}
					Ethil-Vannien
				{% else %}
					Nouvel utilisateur
				{% endif %}
			</div>
			<div class="inscription-date">Inscrit depuis le {{ user.inscriptionDate|format_date('long', locale='fr') }}</div>

			{% if app.user.username is same as user.username %}
				<div class="btns">
					<a class="btn" href="{{ path('app_member_profile_edit') }}">
						<i class="fa-solid fa-pen"></i>
						<span>Editer mon profil</span>
					</a>
				</div>
			{% endif %}
		</div>
	</header>

	<section class="favorite-games">
		<h2>Mes jeux préférés</h2>
		<p class="favorite-game-list">{{ user.favoriteGames|nl2br }}</p>
	</section>

	<section class="medals-and-trophies">
		<article class="medals-container">
			{% for difficulty in difficulties %}
				<div class="medal-container">
					<div class="medal">
						<img src="/assets/img/{{ difficulty.icon }}" alt="Médaille de {{ difficulty.name }}">
					</div>
					<div class="medal-number">{{ user.challengesCounts[difficulty.name] }}</div>
				</div>
			{% endfor %}
		</article>
		<article class="last-medals">
			<ul>
				{% for submission in last_submissions %}
					<li>
						<a href="{{ path('app_member_single_challenge', {'id': submission.challenge.id}) }}">
							{{ submission.challenge.name }}
						</a>
						<span> - {{ submission.challenge.game.name }}</span>
					</li>
				{% endfor %}
			</ul>
		</article>
		<article class="cups-container"></article>
		<article class="last-cups"></article>
		<article class="trophies-container"></article>
		<article class="last-trophies"></article>
	</section>
</div>
