{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}

	<section id="introduction" class="home-introduction">
		<h1 class="home-main-title">{{ texts[0].title }}</h1>
		<p>{{ texts[0].text|nl2br }}</p>
		<a class="btn large" href="/#games">
			<i class="fa-solid fa-gamepad"></i>
			<span>Voir nos jeux</span>
		</a>
	</section>

	<section id="join" class="home-join">
		<img class="gaming" src="/assets/img/gaming.jpg" alt="Photo clavier souris gaming">
		<div class="container">
			<h2>{{ texts[1].title }}</h2>
			<p>{{ texts[1].text|nl2br }}</p>
			<a class="btn large" href="https://discord.gg/AmjAR3ZNus" target="_blank">
				<i class="fa-brands fa-discord"></i>
				<span>Rejoignez-nous sur Discord</span>
			</a>
		</div>
	</section>

	<section id="games" class="home-games">
		<div class="container text">
			<h2>{{ texts[2].title }}</h2>
			<p>{{ texts[2].text|nl2br }}</p>
			<a class="btn large" href="{{ path('app_games') }}">
				<i class="fa-solid fa-gamepad"></i>
				<span>Voir la liste complète</span>
			</a>
		</div>
		<div class="container current-games">
			<h2>Les jeux du moment</h2>
			{% for game in current_games %}
				<div class="current-game">
					<div class="game-image">
						<img src="/uploads/game/{{ game.image }}" alt="Image de {{ game.name }}">
					</div>
					<span class="game-name">{{ game.name }}</span>
				</div>
			{% endfor %}
		</div>
	</section>

	<section id="us" class="home-us">
		<img src="/assets/img/minecraft.webp" alt="Image Minecraft">
		<div class="container">
			<h2>{{ texts[3].title }}</h2>
			<p>{{ texts[3].text|nl2br }}</p>
		</div>
	</section>

{% endblock %}
