{% extends 'base_admin.html.twig' %}

{% block title %}Edition de texte{% endblock %}

{% block body %}
	<h1>Edition de texte</h1>

	<div class="col-50">
		<div class="btns-container">
			<div class="back">
				<a class="btn" href="{{ path('app_text_index') }}">
					<i class="fa-solid fa-arrow-left"></i>
					<span>Retour à la liste des textes</span>
				</a>
			</div>
			<div class="btns right">
				{{ include('admin_text/_delete_form.html.twig') }}
			</div>
		</div>

		{{ form_start(form) }}

		<div class="input-container">
			{{ form_label(form.page) }}
			{{ form_widget(form.page) }}
		</div>

		<div class="input-container">
			{{ form_label(form.title) }}
			{{ form_widget(form.title) }}
		</div>

		<div class="input-container">
			{{ form_label(form.text) }}
			{{ form_widget(form.text) }}
		</div>

		<div class="input-container">
			{{ form_label(form.text_order) }}
			{{ form_widget(form.text_order) }}
		</div>

		{{ form_widget(form._token) }}

		<div class="btns right">
			<button type="submit">
				<i class="fa-solid fa-floppy-disk"></i>
				<span>Mettre à jour le texte</span>
			</button>
		</div>

		{{ form_end(form, {render_rest: false}) }}
	</div>
{% endblock %}
