{% extends 'base_admin.html.twig' %}

{% block title %}Texte{% endblock %}

{% block body %}
	<h1>Texte</h1>

	<div class="btns-container">
		<div class="back">
			<a class="btn" href="{{ path('app_text_index') }}">
				<i class="fa-solid fa-arrow-left"></i>
				<span>Retour à la liste des textes</span>
			</a>
		</div>
		<div class="btns right">
			<a class="btn" href="{{ path('app_text_edit', {'id': text.id}) }}">
				<i class="fa-solid fa-pen"></i>
				<span>Editer</span>
			</a>
			{{ include('admin_text/_delete_form.html.twig') }}
		</div>
	</div>

	<h2>Page</h2>
	<p>{{ text.page }}</p>

	<h2>Titre</h2>
	<p>{{ text.title }}</p>

	<h2>Texte</h2>
	<div>{{ text.text|nl2br }}</div>

	<h2>Ordre du texte</h2>
	<p>{{ text.textOrder }}</p>
{% endblock %}
