{% extends 'base_admin.html.twig' %}

{% block title %}Liste des défis{% endblock %}

{% block body %}
	<h1>Liste des défis</h1>

	<div class="btns-container">
		<div class="btns">
			<a class="btn" href="{{ path('app_admin_challenge_new') }}">
				<i class="fa-solid fa-plus"></i>
				<span>Ajouter un défi</span>
			</a>
		</div>
	</div>

	<div class="table games">

		<div class="head">
			<div class="col col-25">Défi</div>
			<div class="col col-20 sort {% if sort_by is same as 'game' %}active{% endif %}">
				<a href="{{ path('app_admin_challenge_index', {'sort_by': 'game', 'page': 1}) }}">
					Jeu<i class="fa-solid fa-arrow-up-a-z"></i>
				</a>
			</div>
			<div class="col col-15 sort {% if sort_by is same as 'difficulty' %}active{% endif %}">
				<a href="{{ path('app_admin_challenge_index', {'sort_by': 'difficulty', 'page': 1}) }}">
					Difficulté<i class="fa-solid fa-arrow-up-1-9"></i>
				</a>
			</div>
			<div class="col col-15 sort {% if sort_by is same as 'period' %}active{% endif %}">
				<a href="{{ path('app_admin_challenge_index', {'sort_by': 'period', 'page': 1}) }}">
					Période<i class="fa-solid fa-arrow-up-1-9"></i>
				</a>
			</div>
			<div class="col col-25">Actions</div>
			<div class="reset-sort">
				<a href="{{ path('app_admin_challenge_index', {'page': 1}) }}" title="Réinitialiser le tri">
					<i class="fa-solid fa-xmark"></i>
					<span>Réinitialiser</span>
				</a>
			</div>
		</div>

		{% for challenge in challenges %}
			<div class="row">
				<div class="col col-25">
					<a href="{{ path('app_admin_challenge_edit', {'id': challenge.id}) }}">{{ challenge.name }}</a>
				</div>
				<div class="col col-20">{{ challenge.game.name }}</div>
				<div class="col col-15">{{ challenge.difficulty.name }}</div>
				<div class="col-15">{{ challenge.periods|join(', ') }}</div>
				<div class="col col-25 btns">
					<a class="btn" href="{{ path('app_admin_challenge_edit', {'id': challenge.id}) }}">
						<i class="fa-solid fa-pen"></i>
						<span>Editer</span>
					</a>
					{{ include('admin_challenge/_delete_form.html.twig') }}
				</div>
			</div>
		{% endfor %}

	</div>

	{% set path = 'app_admin_challenge_index' %}
	{{ include('include/pagination.html.twig') }}

{% endblock %}
