<!DOCTYPE html>
<html lang="fr">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="icon" type="image/png" href="/assets/img/favicon.png">
	<title>{% block title %}{% endblock %} | Ethil Van</title>

	<link rel="stylesheet" href="/assets/css/admin.css">
	{% block stylesheets %}
		{{ encore_entry_link_tags('app') }}
	{% endblock %}

	<script type="module" src="/assets/js/global.js"></script>
	{% block javascripts %}
		{{ encore_entry_script_tags('app') }}
	{% endblock %}
</head>


<body class="admin">
<header class="main-header">
	<nav>
		<a class="img-container" href="{{ path('app_admin') }}">
			<img src="/assets/img/EV-200_nbg.png" alt="Logo Ethil Van">
		</a>
		<a href="{{ path('app_text_index') }}">Textes</a>
		<a href="{{ path('app_game_index') }}">Jeux</a>
	</nav>
</header>

<main class="main-container">
	{% block body %}{% endblock %}
</main>

</body>

</html>
