{% set new_notification = '' %}
{% for notification in app.user.notifications %}
	{% if not notification.seen %}
		{% set new_notification = 'new' %}
	{% endif %}
{% endfor %}

<!DOCTYPE html>
<html lang="fr">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="icon" type="image/png" href="/assets/img/favicon.png">
	<title>{% block title %}{% endblock %} | Ethil Van</title>

	<link rel="stylesheet" href="/assets/fontawesome/css/all.min.css">
	<link rel="stylesheet" href="/assets/css/member.css">
	{% block stylesheets %}{% endblock %}

	<script type="module" src="/assets/js/global.js"></script>
	<script type="module" src="/assets/js/burger.js"></script>
	{% block javascripts %}{% endblock %}
</head>


<body class="member">
<header class="main-header">
	<nav id="header-nav">
		<div class="subnav top">
			<a class="img-container" href="{{ path('app_member') }}">
				{% if app.user.avatar %}
					<img class="avatar" src="/uploads/avatar/{{ app.user.avatar }}" alt="Avatar de {{ app.user.username }}">
				{% else %}
					<img class="avatar" src="/assets/img/EV-200_nbg.png" alt="Logo d'Ethil Van">
				{% endif %}
			</a>
			<a href="{{ path('app_member') }}">
				<i class="fa-solid fa-home"></i>
				<span>Accueil</span>
			</a>
			<a href="{{ path('app_member_profile') }}">
				<i class="fa-solid fa-user"></i>
				<span>Profil</span>
			</a>
			<a href="{{ path('app_member_users') }}">
				<i class="fa-solid fa-users"></i>
				<span>Ethil-Vanniens</span>
			</a>
			<a href="{{ path('app_member_games', {'current': true}) }}">
				<i class="fa-solid fa-gamepad"></i>
				<span>Jeux</span>
			</a>
			<a href="{{ path('app_member_challenges') }}">
				<i class="fa-solid fa-medal"></i>
				<span>Défis</span>
			</a>
			<a class="notifications {{ new_notification }}" href="{{ path('app_member_notifications') }}">
				<i class="fa-solid fa-bell"></i>
				<span>Notifications</span>
			</a>
		</div>
		<div class="subnav bottom">
			{% if is_granted('ROLE_ADMIN') %}
				<a href="{{ path('app_admin') }}">
					<i class="fa-solid fa-lock"></i>
					<span>Administration</span>
				</a>
			{% endif %}
			<a href="{{ path('app_logout') }}">
				<i class="fa-solid fa-right-from-bracket"></i>
				<span>Déconnexion</span>
			</a>
		</div>
	</nav>
	<div id="main-burger" class="burger">
		<div></div>
		<div></div>
		<div></div>
	</div>
</header>

<main class="main-container {% block main_class %}{% endblock %}">
	{% block body %}{% endblock %}
</main>
</body>

</html>
