{% set new_notification = '' %}
{% if twig_notifications.newAdminNotifications %}
	{% set new_notification = 'new' %}
{% endif %}

<!DOCTYPE html>
<html lang="fr">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="icon" type="image/png" href="/assets/img/favicon.png">
	<title>{% block title %}{% endblock %} | Administration - Ethil Van</title>

	<link rel="stylesheet" href="/assets/fontawesome/css/all.min.css">
	<link rel="stylesheet" href="/assets/css/admin.css">
	{% block stylesheets %}
		{{ encore_entry_link_tags('app') }}
	{% endblock %}

	<script type="module" src="/assets/js/global.js"></script>
	{% block javascripts %}
		{{ encore_entry_script_tags('app') }}
	{% endblock %}
</head>


<body class="admin">
<header class="main-header">
	<nav>
		<div class="subnav top">
			<a class="img-container" href="{{ path('app_admin') }}">
				<img src="/assets/img/EV-200_nbg.png" alt="Logo Ethil Van">
			</a>
			<a href="{{ path('app_text_index') }}">
				<i class="fa-solid fa-align-left"></i>
				<span>Textes</span>
			</a>
			<a href="{{ path('app_admin_user_index') }}">
				<i class="fa-solid fa-users"></i>
				<span>Utilisateurs</span>
			</a>
			<a href="{{ path('app_game_index') }}">
				<i class="fa-solid fa-gamepad"></i>
				<span>Jeux</span>
			</a>
			<a href="{{ path('app_admin_challenge_index') }}">
				<i class="fa-solid fa-medal"></i>
				<span>Défis</span>
			</a>
			<a href="{{ path('app_admin_period_index') }}">
				<i class="fa-solid fa-calendar-days"></i>
				<span>Périodes</span>
			</a>
			<a href="{{ path('app_admin_submission_index') }}">
				<i class="fa-solid fa-check"></i>
				<span>Validation</span>
			</a>
			<a class="notifications {{ new_notification }}" href="{{ path('app_admin_notifications') }}">
				<i class="fa-solid fa-bell"></i>
				<span>Notifications</span>
			</a>
		</div>

		<div class="subnav bottom">
			<a href="{{ path('app_member') }}">
				<i class="fa-solid fa-user"></i>
				<span>Espace membre</span>
			</a>
		</div>
	</nav>
</header>

<main class="main-container">
	{% block body %}{% endblock %}
</main>

</body>

</html>
