{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}

	<section id="introduction" class="introduction">
		<h1>{{ texts[0].title }}</h1>
		<p>{{ texts[0].text|nl2br }}</p>
		<a class="btn large" href="/#games">Voir nos jeux</a>
	</section>

	<section id="join" class="join">
		<img class="gaming" src="/assets/img/gaming.jpg" alt="Photo clavier souris gaming">
		<div class="container">
			<h2>{{ texts[1].title }}</h2>
			<p>{{ texts[1].text|nl2br }}</p>
			<a class="btn large" href="https://discord.gg/ZEECxNd" target="_blank">Rejoignez-nous sur Discord</a>
		</div>
	</section>

	<section id="games" class="games">
		<h2>{{ texts[2].title }}</h2>
		<p>{{ texts[2].text|nl2br }}</p>
	</section>

	<section id="us" class="us">
		<h2>{{ texts[3].title }}</h2>
		<p>{{ texts[3].text|nl2br }}</p>
	</section>

{% endblock %}
