{% extends 'base_member.html.twig' %}

{% block title %}{{ challenge.name }}{% endblock %}

{% block body %}
	<div class="challenge-title-container">
		<div class="subcontainer left">
			<div class="img-container">
				<img class="game-image" src="/uploads/game/{{ challenge.game.image }}" alt="Image de {{ challenge.game.name }}"
				     title="{{ challenge.game.name }}">
			</div>
			<div class="medal">
				<img src="/assets/img/{{ challenge.difficulty.icon }}"
				     alt="Médaille de {{ challenge.difficulty.name }}" title="Défi {{ challenge.difficulty.name }}">
			</div>
			<h1>{{ challenge.name }}</h1>
		</div>
		<div class="subcontainer right">
			{% if challenge.numberOfPlayers is same as 1 %}
				<i class="fa-solid fa-user"></i> 1 joueur
			{% else %}
				<i class="fa-solid fa-users"></i> {{ challenge.numberOfPlayers }} joueurs
			{% endif %}
		</div>
	</div>

	<div class="btns-container">
		<div class="btns left">
			<a class="btn" href="{{ path('app_member_single_game', {'id': challenge.game.id}) }}">
				<i class="fa-solid fa-arrow-left"></i>
				<span>Retour au jeu</span>
			</a>
			<a class="btn" href="{{ path('app_member_challenges') }}">
				<i class="fa-solid fa-arrow-left"></i>
				<span>Retour à la liste des défis</span>
			</a>
			{% if is_granted('ROLE_ADMIN') %}
				<a class="btn dark-green" href="{{ path('app_admin_challenge_edit', {'id': challenge.id}) }}">
					<i class="fa-solid fa-pen"></i>
					<span>Editer le défi</span>
				</a>
			{% endif %}
		</div>
		<div class="right">
			<div class="challenge-periods">
				{% for period in challenge.periods|sort((a, b) => a.year <=> b.year) %}
					<div class="period"
					     title="du {{ period.startDate|format_date('long', locale='fr') }} au {{ period.endDate|format_date('long', locale='fr') }}">
						<i class="fa-solid fa-calendar-days"></i>
						<span>{{ period }}</span>
						{% if period.type is same as 'event' %}
							<span
									class="dates">du {{ period.startDate|format_date('long', locale='fr') }} au {{ period.endDate|format_date('long', locale='fr') }}</span>
						{% endif %}
					</div>
				{% endfor %}
			</div>
		</div>
	</div>

	<div class="col-50">
		<p class="challenge-description">{{ challenge.description|nl2br }}</p>

		<div class="validation">
			<h2>Validation</h2>
			{% if is_valid %}
				<div class="validation-state valid"><i class="fa-solid fa-check"></i>Validé</div>
			{% elseif already_submitted %}
				<div class="validation-state">En cours</div>
			{% elseif is_current %}
				<div class="validation-state">Disponible</div>
			{% else %}
				<div class="validation-state">Non disponible</div>
			{% endif %}
		</div>

		{% if messages is not empty %}
			<section class="messages">
				{% for message in messages %}
					{{ include('include/message.html.twig') }}
				{% endfor %}
			</section>
		{% endif %}

		{% if is_current and not is_valid %}

			<ul class="errors">
				{% for error in form_errors %}
					<li class="error"><i class="fa-solid fa-triangle-exclamation"></i> {{ error.message }}</li>
				{% endfor %}
				{% for error in errors %}
					<li class="error"><i class="fa-solid fa-triangle-exclamation"></i> {{ error }}</li>
				{% endfor %}
			</ul>

			{{ form_start(form) }}

			{% if form.players is defined %}
				<div class="input-container">
					{{ form_label(form.players) }}
					{{ form_widget(form.players) }}
				</div>
			{% endif %}

			<div class="input-container">
				{{ form_label(form.message) }}
				{{ form_widget(form.message) }}
			</div>

			<div class="input-container">
				{{ form_label(form.images) }}
				{{ form_widget(form.images) }}
			</div>

			<div class="btns right">
				<button class="btn" type="submit">
					<i class="fa-solid fa-play"></i>
					<span>Demander la validation de ce défi</span>
				</button>
			</div>

			{{ form_end(form) }}

		{% endif %}
	</div>

{% endblock %}
