{% extends 'base_member.html.twig' %}

{% block title %}{{ challenge.name }}{% endblock %}

{% block body %}
	<div class="challenge-title-container">
		<div class="subcontainer left">
			{# <img class="medal" src="" alt="Médaille de {{ challenge.difficulty.name }}"
					     title="Défi {{ challenge.difficulty.name }}">  #}
			<div class="medal" title="Défi {{ challenge.difficulty.name }}"><i class="fa-solid fa-medal"></i></div>
			<h1>{{ challenge.name }}</h1>
		</div>
		<div class="subcontainer right">
			{% if challenge.numberOfPlayers is same as 1 %}
				<i class="fa-solid fa-user"></i> 1 joueur
			{% else %}
				<i class="fa-solid fa-users"></i> {{ challenge.numberOfPlayers }} joueurs
			{% endif %}
		</div>
	</div>

	<div class="btns-container">
		<div class="btns left">
			<a class="btn" href="{{ path('app_member_single_game', {'id': challenge.game.id}) }}">
				<i class="fa-solid fa-arrow-left"></i>
				<span>Retour au jeu</span>
			</a>
			<a class="btn" href="{{ path('app_member_challenges') }}">
				<i class="fa-solid fa-arrow-left"></i>
				<span>Retour à la liste des défis</span>
			</a>
		</div>
		<div class="right">
			<div class="challenge-periods">
				{% for period in challenge.periods %}
					<div class="period"
					     title="du {{ period.startDate|format_date('long', locale='fr') }} au {{ period.endDate|format_date('long', locale='fr') }}">
						<i class="fa-solid fa-calendar-days"></i>
						<span>{{ period }}</span>
						{% if period.type is same as 'event' %}
							<span
									class="dates">du {{ period.startDate|format_date('long', locale='fr') }} au {{ period.endDate|format_date('long', locale='fr') }}</span>
						{% endif %}
					</div>
				{% endfor %}
			</div>
		</div>
	</div>

	<div class="col-50">
		<p class="challenge-description">{{ challenge.description|nl2br }}</p>

		<h2>Valider ce défi</h2>

		<section class="messages">
			{% for message in messages %}
				{% set self = '' %}
				{% if app.user is same as message.user %}
					{% set self = 'self' %}
				{% endif %}
				<article class="message {{ self }}">
					<div class="message-info">
						<div class="flex center">
							<div class="avatar-container">
								<img src="/uploads/avatar/{{ message.user.avatar }}" alt="Avatar de {{ message.user.username }}">
							</div>
							<h3>{{ message.user.username }}</h3>
						</div>
						<div class="date">
							{{ message.messageDate|format_datetime(pattern="dd/MM/yyyy à HH:mm", timezone='Europe/Paris') }}
						</div>
					</div>
					<p>{{ message.message|nl2br }}</p>
					{% if message.images is not empty %}
						<div class="images">
							{% for image in message.images %}
								<a href="/uploads/submission_image/{{ image.image }}" target="_blank">
									<img src="/uploads/submission_image/{{ image.image }}" alt="Pièce jointe">
								</a>
							{% endfor %}
						</div>
					{% endif %}
				</article>
			{% endfor %}
		</section>

		{% if is_current %}

			<ul class="errors">
				{% for error in form_errors %}
					<li class="error"><i class="fa-solid fa-triangle-exclamation"></i> {{ error.message }}</li>
				{% endfor %}
			</ul>

			{{ form_start(form) }}

			<div class="input-container">
				{{ form_label(form.message) }}
				{{ form_widget(form.message) }}
			</div>

			<div class="input-container">
				{{ form_label(form.images) }}
				{{ form_widget(form.images) }}
			</div>

			<div class="btns right">
				<button class="btn" type="submit">
					<i class="fa-solid fa-play"></i>
					<span>Demander la validation de ce défi</span>
				</button>
			</div>

			{{ form_end(form) }}

		{% endif %}
	</div>

{% endblock %}
