{% extends 'base.html.twig' %}

{% block title %}Enregistrement{% endblock %}

{% block main_class %}registration{% endblock %}

{% block body %}

	<section class="window">
		<h1>Enregistrement</h1>

		<ul class="errors">
			{% for error in form_errors %}
				<li class="error"><i class="fa-solid fa-triangle-exclamation"></i> {{ error.message }}</li>
			{% endfor %}
			{% for error in errors %}
				<li class="error"><i class="fa-solid fa-triangle-exclamation"></i> {{ error }}</li>
			{% endfor %}
		</ul>

		{{ form_start(form) }}

		<div class="input-container">
			{{ form_label(form.username) }}
			{{ form_widget(form.username) }}
		</div>

		<div class="input-container hidden">
			{{ form_label(form.lastname) }}
			{{ form_widget(form.lastname) }}
		</div>

		<div class="input-container">
			{{ form_label(form.email) }}
			{{ form_widget(form.email) }}
		</div>

		<div class="input-container">
			{{ form_label(form.password) }}
			{{ form_widget(form.password) }}
		</div>

		<div class="input-container">
			{{ form_label(form.confirmPassword) }}
			{{ form_widget(form.confirmPassword) }}
		</div>

		<p>Vous avez déjà un compte ? <a href="{{ path('app_login') }}">Se connecter</a></p>

		{{ form_widget(form._token) }}

		<div class="btns center">
			<button type="submit">{{ button_label|default("S'enregistrer") }}</button>
		</div>
		{{ form_end(form) }}
	</section>

{% endblock %}
